// COLORS
$bg-color: #181c1f;
$text-color: #b6c2cf;
$border-color: #444c56;
$bgItem-color: #a1bdd914;
$bgModal-color: #282e33;
$border-danger-color: #ef5c48;

$primary-color: #ffffff3d;
$secondary-color: #b6c2cf;

$shadow-overlay: 0px 0px 0px 1px #39424a, 0px 8px 12px #0304045c, 0px 0px 1px 1px #03040480;
